<% action = cat.persisted? ? cat_url(cat) : cats_url) %>
<% method = cat.persisted? ? :patch : :post %> 

<form action="<%= action %>" method="post">
    <input type="hidden" name="_method"value="<%= method %>">
    <label for="name">Name:
        <input type="text" name="cat[name]" value="<%= cat.name %>">
    </label>

    <label for="sex">Sex:
        <input type="radio" name="cat[sex]" value="M" <%= cat.sex == "M" ? "checked" : "" %>>
        <input type="radio" name="cat[sex]" value="F" <%= cat.sex == "F" ? "checked" : "" %>>
    </label>

    <label for="color">Color:
        <select>
            <option> <% cat.color %> </option>
            <% Cat::COLORS.each do |color|%>
            <option> <%= color unless color == cat.color %> </option>
            <% end %>
        </select>
    </label>

    <label for="birth_date">Birthdate:
        <input type="date" name="cat[birth_date]" value="<%= cat.birth_date %>">
    </label>

    <label for="description">
        Description
        <textarea name="cat[description]">
        <%=cat.description %> 
    </textarea>
    </label>

    <button type="submit">Submit Cat</button>
</form>